{% extends 'base.html' %}
{% block content %}
	<div class="row">
    <div class="col m-4">
			<img src="{{ blog.image_url }}">
      <h3>{{ blog.title }} <small class="text-muted">Last updated {{ blog.modified_at|date:"SHORT_DATETIME_FORMAT" }} by <b>{{ blog.author }}</b></small></h3>
      <hr>
      <small class="text-secondary">{{ blog.summary | linebreaksbr }}</small>
      <hr>
			<p>{{ blog.content | linebreaksbr }}</pr>
      <a href="{% url 'blog:list' %}">Back to List</a>
    </div>
  </div>
{% endblock %}
