
<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<title></title>
	<!-- BOOTSTRAP -->
	<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css">

	<!-- BOOTSTRAP THEME -->
	<link rel="stylesheet" href="https://bootswatch.com/4/slate/bootstrap.min.css">
	

</head>
<body>
	<div style='
	min-height: 100vh;
	position: relative;
	'>
		<div style='padding-bottom: 2.5rem;'> <!-- same as footer -->

			<!-- NAVBAR -->

			<nav class="navbar navbar-expand-lg navbar-dark bg-dark">
				<a class="navbar-brand" href="{% url 'home' %}">Level2Kits</a>
				<button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarColor02" aria-controls="navbarColor02" aria-expanded="false" aria-label="Toggle navigation">
					<span class="navbar-toggler-icon"></span>
				</button>

				<div class="collapse navbar-collapse" id="navbarColor02">
					<ul class="navbar-nav mr-auto">
						<li class="nav-item active">
							<a class="nav-link" href="{% url 'home' %}">Home <span class="sr-only">(current)</span></a>
						</li>
						<li class="nav-item">
							<a class="nav-link" href="{% url 'kit:list' %}">Products</a>
						</li>
						<li class="nav-item">
							<a class="nav-link" href="{% url 'blog:list' %}">Blog</a>
						</li>
						<li class="nav-item">
							<a class="nav-link" href="{% url 'about' %}">About</a>
						</li>
					</ul>
					{% if request.user.is_authenticated %}
						<a href="{% url 'logout' %}" class="btn btn-danger ml-2">Log Out</a>

					{% else %}
						<div class="form-inline">
							<a href="{% url 'login' %}" class='btn btn-secondary ml-2'>Log In</a>
							<a href="{% url 'signup' %}" class='btn btn-secondary ml-2'>Sign Up</a>
						</div>

					{% endif %}

			</nav>

			{% block content %}{% endblock %}
		</div>

		<div class="footer bg-secondary p-5 text-white" style='
		bottom: 0;
		position: absolute;
		width:100%;
		height: 2.5rem;
			'>
			&copy; 2020 Level2Kits Inc
		</div>
	</div>
</body>
